I am noticing that when I design large pieces of code, I often question myself: use SAC or do a for loop? I don't understand SAC as well as I should, and I opt for the latter. **This has been bothering me for a while**. Its time to learn this properly.

In [1]:
#imports 
#Imports:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pandas as pd
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
import re
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("."))

['Split-Apply-Combine.ipynb', '.git', 'req.txt', 'tests', 'src', 'readme.MD', 'notebooks', '__pycache__', 'Basic Stats & Visualizations.ipynb', 'Makefile', 'simplefront.py', 'web', 'Cleaning and Subsetting the ILS Dataset.ipynb', '.ipynb_checkpoints', 'Data Tidying.ipynb', 'data']

In [2]:
#settings:
#Settings:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
alt.renderers.enable('notebook')
alt.data_transformers.enable('default', max_rows=None)
%matplotlib inline 
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 40)
pd.set_option('display.width', 1000)

In [3]:
mtcars = pd.read_csv("./data/mtcars.csv")

In [4]:
mtcars.head()
mtcars.shape

               model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

(32, 12)

In [5]:
#Here, the unique values of the cyl column are used as the group names. rows that have a specific cyl value are placed
#into the groups. We can see we have sub-dataframes with the cyl all the same value!
mtgroup = mtcars.groupby("cyl")

In [6]:
for name, group in mtgroup:
    print(name)
    print(group)

4
             model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
2       Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
7        Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8         Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
17        Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18     Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20   Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
25       Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26   Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2
6
             model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0        Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1    Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
3   Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
5          Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
9         Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10       Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
8
                  model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8

In [7]:
#we can focus our data frame on one column, and show the groups along this one column!
for name, group in mtgroup["hp"]:
    print(name)
    print(group)

4
2      93
7      62
8      95
17     66
18     52
19     65
20     97
25     66
26     91
27    113
31    109
Name: hp, dtype: int64
6
0     110
1     110
3     110
5     105
9     123
10    123
29    175
Name: hp, dtype: int64
8
4     175
6     245
11    180
12    180
13    180
14    205
15    215
16    230
21    150
22    150
23    245
24    175
28    264
30    335
Name: hp, dtype: int64

In [8]:
#Aggregation: For each group, we take a column, and use a summary function on the subset of the column.
mtgroup.agg(max)

                model   mpg   disp   hp  drat     wt   qsec  vs  am  gear  carb
cyl
4          Volvo 142E  33.9  146.7  113  4.93  3.190  22.90   1   1     5     2
6             Valiant  21.4  258.0  175  3.92  3.460  20.22   1   1     5     6
8    Pontiac Firebird  19.2  472.0  335  4.22  5.424  18.00   0   1     5     8

In [9]:
#applying multiple functions as once:
#A hiearchical column index has been produced.
mtgroup.agg([max,min])

                model                 mpg         disp          hp       drat           wt          qsec        vs      am     gear     carb
                  max           min   max   min    max    min  max  min   max   min    max    min    max   min max min max min  max min  max min
cyl
4          Volvo 142E    Datsun 710  33.9  21.4  146.7   71.1  113   52  4.93  3.69  3.190  1.513  22.90  16.7   1   0   1   0    5   3    2   1
6             Valiant  Ferrari Dino  21.4  17.8  258.0  145.0  175  105  3.92  2.76  3.460  2.620  20.22  15.5   1   0   1   0    5   3    6   1
8    Pontiac Firebird   AMC Javelin  19.2  10.4  472.0  275.8  335  150  4.22  2.76  5.424  3.170  18.00  14.5   0   0   1   0    5   3    8   2

In [10]:
#Named Aggregation: Do column specific operations, pass a list of funcitons, avoid hiearchical naming!
#Note that we have no way of passing additiona arguments to the functions with this syntax
mtgroup.agg(themin=("mpg","min"),themaxx=("hp","max"))

     themin  themaxx
cyl
4      21.4      113
6      17.8      175
8      10.4      335

In [19]:
#Can we apply any old function with agg?
#Indicies mismatch. Your return value has to be a single number per group!
#To properly control the output, use Named Aggregation, as above.
def fun1(x):
    #return pd.DataFrame({"a":x.sum(),"b":x.sum()})
    return x
mtgroup.agg(fun1)

ValueError: Shape of passed values is (12, 3), indices imply (11, 3)

In [20]:
#Applying specific aggregation functions to specific columns:
#This is easier to do then NamedAggregation:
mtgroup.agg({"hp":"sum","wt":"mean"})

      hp        wt
cyl
4    250  2.886667
6    558  3.122000
8    420  3.505000

**Understanding Transformation:**

In [21]:
#Simplest Transform: We can pick out one cell from a grouped element:

mtgroup.transform(lambda x: x.wt)

AttributeError: ("'Series' object has no attribute 'wt'", 'occurred at index model')

**Understanding Apply:**

Lets first create a reduced data frame, so we can more easily view our results

In [11]:
mtgroup = mtcars.head(10).groupby("cyl")

In [12]:
#here you can see the group passing behaviour, 
#and apply has decided to paste all the result columns together.
def g(x):
    print(x)
    return x*x

mtgroup['wt'].apply(g)

2    2.32
7    3.19
8    3.15
Name: 4, dtype: float64
0    2.620
1    2.875
3    3.215
5    3.460
9    3.440
Name: 6, dtype: float64
4    3.44
6    3.57
Name: 8, dtype: float64

0     6.864400
1     8.265625
2     5.382400
3    10.336225
4    11.833600
5    11.971600
6    12.744900
7    10.176100
8     9.922500
9    11.833600
Name: wt, dtype: float64

In [13]:
#How can we reduce our dimensions?
#The return value of the applied function dictates our final output. 
#What does this look like?
def g(x):
    return x.sum()

#here, apply just concat'ed the group dataframes into one dataframe. Notice we increased our dimensions!
mtgroup['wt'].apply(g)

cyl
4     8.66
6    15.61
8     7.01
Name: wt, dtype: float64

In [14]:
#The return value of the applied function dictates our final output. 
#What does this look like?
def g(x):
    return pd.DataFrame({"p":x*x,"q":x*x}) 

#here, apply just concat'ed the group dataframes into one dataframe. Notice we increased our dimensions!
mtgroup['wt'].apply(g)

           p          q
0   6.864400   6.864400
1   8.265625   8.265625
2   5.382400   5.382400
3  10.336225  10.336225
4  11.833600  11.833600
5  11.971600  11.971600
6  12.744900  12.744900
7  10.176100  10.176100
8   9.922500   9.922500
9  11.833600  11.833600

**Learning Point:** apply supplies the entire group series or data frame to the function
(with some kind of iterative structure to pass the cells). The output produced by the function
dictates how apply joins our group results together.

Our *agg, transform and filter* functions are just versions of apply with fixed constraints.